@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #dcd8e2a8;
}

.boton-guardar {
    padding: 5px 10px;
    background-color: rgb(26, 80, 230);
    border: 2px solid rgb(26, 80, 230);
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    transition: .3s;
}

.boton-descargar {
    padding: 5px 10px;
    background-color: rgb(238, 63, 63);
    border: 2px solid rgb(238, 63, 63);
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    transition: .3s;
}

.boton-eliminar {
    padding: 5px 10px;
    background-color: rgb(238, 63, 63);
    border: 2px solid rgb(238, 63, 63);
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    transition: .3s;
}

.boton-eliminar:hover {
    background-color: transparent;
    color: rgb(238, 63, 63);
    font-weight: 500;
}

.boton-descargar:hover {
    background-color: transparent;
    color: rgb(238, 63, 63);
    font-weight: 500;
}

.boton-guardar:hover {
    background-color: transparent;
    color: rgb(26, 80, 230);
    font-weight: 500;
}

.list-group {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.158);
}

table {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.158);
}

input[type="text"], select {
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.158);
    background-color: rgba(255, 255, 255, 0.527);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.103);
    border-radius: 5px;
}

input[type="text"]:focus {
    outline: none;
}

input[type="text"]:hover, select:hover {
    border-color: rgba(129, 140, 248);
    background-color: #fff;
    box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
}

input[type="text"]::placeholder {
    font-weight: 500;
}